<!-- Página para listar e fazer download de arquivos -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Download de Arquivos</title>
</head>

<body>
    <h1>Lista de Arquivos</h1>
    <ul>
        <!-- Substitua 'fileList' pela lista real de arquivos no seu projeto -->
        <li th:each="file : ${fileList}">
            <a th:href="@{/download/{fileName}(fileName=${file})}" th:text="${file}"></a>
        </li>
    </ul>
</body>

</html>